@import 'colors';

pre {
  text-align: left;
  font-size: 2.1vw;
}

.hljs {
  color: $mono-1;
  font-family: 'Operator Mono', Hack;
  font-weigt: 400;
}

.hljs-selector-tag {
  color: $hue-5;
}

.hljs-title,
.hljs-selector-id {
  color: $hue-2;
}

.hljs-keyword {
  color: $hue-3;
}

.hljs-string {
  color: $hue-4;
}

.hljs-number,
.hljs-selector-class {
  color: $hue-6;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: $hue-6-2;
}

.hljs-comment {
  color: $mono-3
}
