@import 'colors';

.element-secondary {
  color: lighten($text, 46%);
}

.element-title {
  margin: 0;
  font-size: 1.2em;
}

.element-highlight {
  font-style: italic;
}

.element-table,
.element-table th,
.element-table td {
  border: 2px solid $text;
  border-collapse: collapse;
  padding: 0.8vw 1.6vw;
  font-size: 0.9em;

  .slide--dark & {
    border: 2px solid $mono-3;
  }
}

.element-list__item {
  line-height: 1.8;
  text-align: left;
}
