@import 'colors';

.element-secondary {
  color: lighten($text, 46%);
}

.element-title {
  margin: 0;
  font-size: 1.2em;
}

table, th, td {
  border: 2px solid $text;
  border-collapse: collapse;
  padding: 0.4vw 1.4vw;
}
