@import 'colors';

.slide {
  display: none;
  background-color: $white;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  line-height: 1.2;
  font-size: 2.8vw;
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.slide--active {
  display: flex;
}

.slide--dark {
  background-color: $syntax-bg;
  color: $syntax-fg;
}

.slide__content {
  padding: 10vw;
}

p {
  margin: 0;
}
